<!-- launch file for ROS node network that uses InertialSense sensor to aid an
inertial navigation algorithm -->


<launch>
    <!-- choose what data you would like from the sensor. Choose: all or a 
    combination of GPS, IMU, MAG, BAR -->
    <rosparam param="dataDesired">
        {"GPS": True,
        "IMU": True,
        "MAG": True,
        "BAR": True}
    </rosparam> 
    <!-- maximum rate data is polled in ms, used for rate.sleep() -->
    <param name="datarate" type="int" value="200" />        
    <!-- port information, default values are: baud = 3000000, timeout = 5 
        By default, when opening the serial connection algo will try common ports
        /dev/ttyUSBn and /dev/ttySn where n is [0,1,2]-->
    <rosparam param="port">
        pname: ["/dev/ttyUSB0","/dev/ttyUSB1","/dev/ttyUSB2","/dev/ttyUSB3", "/dev/ttyS0","/dev/ttyS1","/dev/ttyS2"]
        baud: 3000000
        tout: 5        
    </rosparam>    
    
    
    <!-- initialize nodes -->
    
    <!-- node responsible for initializing serial connection, creating publisher
    nodes, parsing sensor data and publishing -->
    <node name="IS_dataparser" pkg="inertialsense" type="IS_dataparser.py" output="screen" />
    <!-- Subscriber node which subscribes to all messages from dataparser node.
    This will also be where EKF will be done eventually -->
    <node name="IS_msgsub" pkg="inertialsense" type="IS_msgsub.py" output="screen" />
    
</launch>
